[submodule "Music-Server"]
	path = Music-Server
	url = git@github.com:BenHorleyOwen/Music-Server.git
	branch = main
[submodule "Karaoke"]
	path = Karaoke
	url = git@github.com:BenHorleyOwen/Karaoke.git
	branch = main
